.tabcontent li {
    transition: all 0.2s ease-in-out;
}

.tabcontent li li:hover{
    border: 1px dashed #4CAF50;
    border-radius: 2px;
}

.tabcontent li:hover{
    background-color: hsl(122, 45%, 90%);
    border-radius: 2px;
}

.tabcontent li{
    line-height: 120%;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 8px;
}

body{
  background-color: rgb(255, 255, 255);
}

.tab {
    overflow: hidden;
    border: 1px solid #4CAF50;
    background-color: #C8E6C9;
    border-radius: 6px 6px 0px 0px;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #FFEB3B;
}


.tab button.active {
    background-color: #4CAF50;
  color: #fff;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #4CAF50;
    border-top: none;
    min-height: 400px;
    font-size: 18px;
    line-height: 150%;
    border-radius: 0px 0px 6px 6px;
}
#wrapper {
    max-width: 900px;
    min-width: 300px;
}